<% if @current_user == nil %>
  <h2>Log In Authors...</h2>

  <%= form_tag("/validate", method: :get) do %>
    <%= label_tag(:name, "User Name: ") %>
    <%= text_field_tag(:name) %>
    <%= label_tag(:password, "Password: ") %>
    <%= text_field_tag(:password) %>
    <%= submit_tag("Log in") %>
  <% end %>

  <%=link_to( 'Author Sign Up', new_writer_path, class: "my-button hvr-pulse-shrink") %>
<% else %>
  <% user = Writer.where(id: @current_user_id) %>
  <h2> Welcome <%= user.name %> </h2>
  <!-- Log out button -->
<% end %>