<!DOCTYPE html>
<html>
<head>
  <title>MrE3Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <p align="center"><%= image_tag("MrE_Header_100px.png") %></p>
		</div>
		<div id="navBox">
			<nav>
				<ul class="nav" align="center">
					
					<li>
            <%=link_to( 'Home', welcome_index_path, class: "my-button hvr-pulse-shrink") %>
            <%=link_to( 'Blog', articles_path, class: "my-button hvr-pulse-shrink") %>
            <%=link_to( 'New Article', new_article_path, class: "my-button hvr-pulse-shrink") %>
            <% if @current_user == nil %>
              <% log_button_text = "Log In" %>
            <% else %>
              <% log_button_text = "Log Out" %>
            <% end %>
            <%=link_to( log_button_text, writers_login_path, class: "my-button hvr-pulse-shrink") %>
					</li>
					
				</ul>
			</nav>
		</div>
		<div id="aboutContainer">
			<div id="mainWindow">
				<div id="spacerBox"></div>
				
        <%= yield %>
				
			</div>
		</div>



</body>
</html>
